
form .form-control:focus,.form-select:focus{
    border: 1px solid rgb(134, 92, 250);

    box-shadow: 0 0 5px rgb(125, 102, 255);
}
form .form-control,.form-select,.date{
    border: 1px solid rgb(134, 92, 250);
}