.formdiv{
    background-color: rgb(255, 255, 255);
    width: 400px;
    
    
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px rgb(88, 87, 66);
}
.div1{
    position: relative;
    top:-180px;
}
h1{
    color: rgb(56, 50, 50);
    text-align: center;
}
.button{
    background-color: #9f7ac4 !important;
   text-shadow: 3px 1px 3px rgb(52, 36, 28);
    
}
.butt{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media only screen and (max-width:450px){
    .formdiv{
        width: 280px;  
    }
}